pytest
pytest-asyncio
pytest-homeassistant-custom-component
syrupy
pigsydust==0.4.0
# Transitive deps of homeassistant.components.usb (pulled in by bluetooth)
pyserial
pyudev;sys_platform=='linux'
aiousbwatcher;sys_platform=='linux'
